<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.demo.dao.mapper.imgtrans.ImgtransmissionsMapper">

	
	<!-- #####################图片管理######################## -->
	
	<!-- 分页查询统计签字数量 -->
	<select id="countImgtransmissionsByCondition" resultType="long"
		parameterType="map">
		select count(*) from imgtransmission
		where 1=1
		<include refid="imgtransmissionWhere"/>
	</select>

	<!-- 分页查询签字列表 -->
	<select id="getImgtransmissionListByCondition" resultType="Imgtransmission"
		parameterType="map">
		select * from imgtransmission
		where 1=1
		<include refid="imgtransmissionWhere"/>
		order by ${orderField} ${orderDirection} limit
		#{start}, #{num}
	</select><!-- 分页查询签字列表 -->
	
	<!-- 这边改了个name -->
	<sql id="imgtransmissionWhere">
       <if test="imgname != null and imgname !='' ">
		  and imgname like CONCAT(CONCAT('%', #{imgname}),'%')  
	   </if>
      
	</sql>
	
	<select id="getImgtransmissionById" parameterType="long" resultType="Imgtransmission">
		select
		* from imgtransmission where id = #{id}
	</select>
	
	<select id="getAllImgtransmissions" parameterType="long" resultType="Imgtransmission">
		select 
		* from imgtransmission
	</select>

</mapper>